@inherits System.Web.Mvc.WebViewPage
@using Sitecore.Mvc;
@using Sitecore.Data.Fields;

<div class="box">
    <div class="col-lg-12 text-center">
        <div id="carousel-example-generic" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators hidden-xs">
                @{ MultilistField images = Html.Sitecore().CurrentItem.Fields["Images"];}
                @for (int i = 0; i < images.Count; i++)
                {
                    if (i == 0)
                    {
                        <li data-target="#carousel-example-generic" data-slide-to="@i" class="active"></li>
                    }
                    else
                    {
                        <li data-target="#carousel-example-generic" data-slide-to="@i"></li>
                    }
                }
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                @foreach (var element in images.GetItems().Select((item, index) => new { item, index }))
                {
                    <div class="item @( (element.index == 0) ? "active": string.Empty)">
                        @Html.Sitecore().Field("Image", element.item, new { @class = "img-responsive img-full" })
                        <div class="carousel-caption">
                            <h3>@Html.Sitecore().Field("Title", element.item)</h3>
                            <span>@Html.Sitecore().Field("Caption", element.item)</span>
                        </div>
                    </div>
                }
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>
        <h2 class="brand-before">
            <small>@Html.Sitecore().Field("Intro")</small>
        </h2>
        <h1 class="brand-name">@Html.Sitecore().Field("Title")</h1>
        <hr class="tagline-divider">
        <h2>
            <small>
                @Html.Sitecore().Field("AdditionalText")
            </small>
        </h2>
    </div>
</div>